@using BanHangOnline.Models;
@model List<product>
@{
    ViewBag.Title = "SPTheoLoaiSP";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@if (Model.Count == 0)
{
    <h1>Không có bánh nào</h1>
}

<div class="inner-header">
    <div class="container">
        <div class="pull-left">
            <h6 class="inner-title">Sản phẩm </h6>
        </div>

    </div>
</div>
<div class="container">
    <div id="content" class="space-top-none">
        <div class="main-content">
            <div class="space60">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3">
                    @Html.Action("LeftSideSPTheoLoaiSP", "Home")
                </div>
                <div class="col-sm-9">
                    <div class="beta-products-list">
                        <h4>Sản phẩm</h4>
                        <div class="row">
                            @{ int i = 0; }
                            @foreach (var item in Model)
                            {
                                i++;
                                <div class="col-sm-4">
                                    <div class="single-item">
                                        <div class="single-item-header">
                                            <a href="@Url.Action("XemChiTiet", "Home", new { @id_product = item.id_product })"><img src="@Url.Content("~/image/product/"+ item.image)" alt="" width="320px" height="270px"></a>
                                        </div>
                                        <div class="single-item-body">
                                            <p class="single-item-title">@item.name_product</p>
                                            <p class="single-item-price">
                                                <span>@string.Format("{0:0,0}", @item.unit_price) VNĐ</span>
                                            </p>
                                        </div>
                                        <div class="single-item-caption">
                                            <a class="add-to-cart pull-left" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="beta-btn primary" href="@Url.Action("XemChiTiet", "Home", new { @id_product = item.id_product })">Details <i class="fa fa-chevron-right"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="mb25"></div>
                                </div>

                            }
                            </div>

                    </div> <!-- .beta-products-list -->
                   
                    <div class="space50">&nbsp;</div>

                   

                </div>

            </div>
        </div> <!-- .main-content -->
    </div> <!-- #content -->
</div> <!-- .container -->
