@using BanHangOnline.Models;
@model product
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}


<div class="container">
    <div id="content">
        <div class="row">
            <div class="col-sm-9">

                <div class="row">
                    <div class="col-sm-4">
                        <img src="@Url.Content("~/image/product/"+ Model.image)" alt="">
                    </div>
                    <div class="col-sm-8">
                        <div class="single-item-body">
                            <p class="single-item-title">@Model.name_product</p>
                            <p class="single-item-price">
                                <span>@string.Format("{0:0,0}", @Model.unit_price) VNĐ</span>
                            </p>
                        </div>

                        <div class="clearfix"></div>
                        <div class="space20">&nbsp;</div>

                        <div class="single-item-desc">
                            <p>@Model.description</p>
                        </div>
                        <div class="space20">&nbsp;</div>


                        <div class="single-item-options">

                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @id_product = Model.id_product, @strUrl = @Request.Url.ToString() }))

                            {

                                <button type="submit" class="add-to-cart pull-left" name="add"><i class="fa fa-shopping-cart"></i></button>

                            }
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="space40">&nbsp;</div>
                <div class="woocommerce-tabs">
                    <ul class="tabs">
                        <li><a href="#tab-description">Description</a></li>
                        <li><a href="#tab-reviews">Reviews (0)</a></li>
                    </ul>

                    <div class="panel" id="tab-description">
                        <p>@Model.description</p>
                    </div>

                </div>
                <div class="space50">&nbsp;</div>
                <div class="beta-products-list">

                </div>
            </div>
        </div>
    </div> <!-- #content -->
</div> <!-- .container -->

